body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: #f3f4f6;
    /* Gris muy claro */
    color: #1f2937;
    /* Gris oscuro casi negro */
    margin: 0;
}

.contenedor {
    background: white;
    border-radius: 24px;
    box-shadow: -5px 20px 25px -5px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.05);
    justify-content: center;
}

h1 {
    font-weight: 800;
    letter-spacing: -0.025em;
    margin-bottom: 1rem;
    background: linear-gradient(to right, #4f46e5, #9333ea);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-main {
    background: #111827;
    color: white;
    padding: 12px 24px;
    border-radius: 12px;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    transition: transform 0.2s;
}

.btn-main:hover {
    transform: scale(1.05);
}


.header{
    display: flex;
    margin-top: 0;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.header-left{
    display: flex;
    justify-content: left;
    min-width: 50%;
    gap: 30px;
}


.header-right{
    display: flex;
    align-items: center;
    justify-items: center;
}

.header-right a{
    background-color: #4f46e5;
    padding: 15px;
    border-radius: 20px;
    color: #1f2937;
    text-decoration: none;
    font-weight: 600;
    margin-left: 20px;
    text-align: center;
}


main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}


.main{
    
    width: 75%;
    margin: 40px;
    display: flex;
    justify-content: space-between;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.contenidos{
    width: 75%;
    padding: 20px;
}



ul{
    list-style-type: none;
    padding: 0;

    margin: 0;
}

li{
    margin-bottom: 20px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


a{
    text-decoration: none;
    color: inherit;
}



.footer{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}